# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# Environment
.env
.env.*
*.env
*.venv/
.venv/
venv/


# System
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Misc
*.bak
*.swp
*.tmp

# Ignore notebook outputs (optional)
notebooks/*.ipynb
!notebooks/data_exploration.ipynb
